@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: inherit;
}

html,
body {
	padding: 0;
	margin: 0;
	border: 0;
}

div.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

div.main div.messages {
	width: 100%;
	height: 80%;
	background-color: rgba(0,0,0,.2)
}

div.main div.message-box {
	flex-grow: 1;
	display: flex;
	padding: 1vw;
	border-top: 2px solid #F4F4F4;
}

div.main div.message-box textarea {
	flex-grow: 10;
}

div.main div.message-box button {
	flex-grow: 1;
}